


<nav class="sidebar"[ngClass]="{'close__sidebar': isCloseNav}">
  <header class="sidebar__header">
    <span class="header__toggle" >
      <img src="../../../../assets/layout/toggle.svg" alt="" (click)="closeNav()">
    </span>
  </header>

  <hr>

  <div class="sidebar__content">
    <div class="sidebar__items">
      <li class="item" *ngFor="let item of sidebarItems " [routerLink]="item.url">
        <i [ngClass]="item.icon"></i>
        <span> {{item.label}} </span>

      </li>
    </div>
    <hr>
  </div>
</nav>


<div class="home">
  <router-outlet></router-outlet>

</div>

<nav class="tool__bar">
asdfasdfa
</nav>

